* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
:root {
    --body-bg: #ECEFF1;
    --list-color: #fafafa;
    --navbar-color: #fafafa;
    --text-color: black;
    --svg-color: #111;
    --title-color: #dadada;
    --placeholder-color: #777;
}

.dark_mode {
    --body-bg: #111;
    --list-color: #2227;
    --navbar-color: #2227;
    --text-color: whitesmoke;
    --svg-color: rgb(212, 212, 212);
    --title-color: #dadada;
    --placeholder-color: #777;
}


body {
    height: 100dvh;
    width: 100%;
    background-color: var(--body-bg);
    font-family: "Inter", sans-serif;
    font-weight: 200;
    color: var(--text-color)
}


.app_container {
    margin: auto;
    width: 960px;
    min-height: 100dvh;
    height: auto;
}

.lists {
    flex-grow: 4;
    padding: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
}

@media (orientation: portrait) {
    .app_container {
        width: 100%;
    }
    
    .add_list_button {
    position: fixed;
    top: 88dvh;
    right: 2rem;
    }

    .lists {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto-fit, 1fr)
    }
}

.app, .tasks {
    min-height: inherit;
    height: inherit;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    background-color: var(--body-bg);
    gap: 1rem;
}

.tasks {
    gap:0;
}

.navbar, .tasks_header {
    background-color: var(--navbar-color);
    padding: 2rem;
    box-shadow: 0px 0px 25px -15px #333;
}

.navbar{
    display: flex;
    place-items: center;
    place-content: space-between;
    
}

.list {
    background-color: var(--list-color);
    height: 150px;
    width: 150px;
    grid: 6;
    display: flex;
    /* flex-flow: column; */
    place-content: center;
    place-items: center;
    text-align: center;
    position: relative;
}


.list_name {
    font-size: 2rem;
    pointer-events: none;
}

.list_name_div {
    justify-self: start;
    display: flex;
    flex-direction: column;
    place-items: center;
    pointer-events: none;
}

.user {
    display: flex;
    place-items: center;
    font-size: 1.2rem;
    gap: 1rem;
}

.lists_section_title {
    font-size: 2.5rem;
    margin-left: 1rem;
}

.footer {
    display: flex;
    place-content: end;
    padding: 2rem;
}

.add_list_button {
    position: fixed;
    bottom: 1rem;
    height: 70px;
    width: 70px;
    padding: 1rem;
    background: #7c4dff;
    color: whitesmoke;
    box-shadow: 2px 4px 16px #5635b2;
}

.add_list_button:hover, .list:hover, .task:hover {
    background-color: #5635b2;
    color:  whitesmoke;
    cursor: pointer;
    transition: all 150ms;
}
.back_button:hover {
    cursor: pointer;
    color: rgb(216, 216, 216);
    transition: all 150ms;
}


/* fix */
.tasks_header {
    text-align: center;
    background-color: #7c4dff;
    color: var(--title-color);
    font-size: 2.5rem;
    display: flex;
    place-content: space-between;
    place-items: center;
}

.tasks_footer {
    width: 100%;
    display: flex;
    flex-flow: column;
    padding: 2rem;
    gap: 1rem;
}

.task_input_container {
    width: 100%;
    display: flex;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.task_input_container input {
    width: inherit;
    border: none;
    background: none;
    font-size: 1.5rem;
    color: var(--text-color);
}

.task_input_container input::placeholder {
    color: var(--placeholder-color)
}

.task_input_container input:focus {
    outline: none;
}

.add_task_button {
    background: none;
    border: none;
    color: #7c4dff;
    font-size: 1.5rem;
}

.add_task_button:hover {
    color: #5635b2;
    cursor: pointer;
} 

hr {
    color: #7c4dff;
}

.tasks_container {
    height: inherit;
    display: flex;
    flex-flow: column;
    flex: 1;
}

.task_icon {
    display: flex;
    place-content: center;
}
.task {
    padding: 2rem;
    font-size: 2rem;
    display: flex;
    place-items: center;
    place-content: space-between;
}

.trash_icon {
    height: 2.5rem;
    transition: all 150ms;
    
}

.trash_icon:hover {
    color: red;
    cursor: pointer;
    /* fill: #333; */
}

.back_button {
    height: 100%;
    display: flex;
    flex-flow: column;
    place-content: center;
}

.back_button svg {
    height: 2.5rem;
}

.filler {
    width: 4.5rem;
}

.profile_picture {
    height: 3.5rem;
    color: #7c4dff;
}

.empty_circle, .checked_circle {
    height: 3rem;
    pointer-events: none;
}

.task_name_container {
    display: flex;
    place-items: center;
    gap: 2rem;
}

.item_amount {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.756);
    font-weight: lighter;
}

.hide_completed {
    transform: rotate(-90deg);
}

.remove_list_button {
    padding: 0.2rem;
    position: absolute; 
    top: 0;
    right: 0;
    background: none;
    border: none;
}

.remove_list_button:hover {
    cursor: pointer;
}

.hide_completed_div {
    font-size: 1.2rem;
    background-color: var(--list-color);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
    color: #7c4dff;
    display: flex;
    place-items: center;
}

.hide_completed_div:hover {
    background-color:#c6c7d2;
    color: #5635b2;
    cursor: pointer;
}

.hide_completed_div p { 
    pointer-events: none;
    user-select: none;
}

.hidden {
    display: none;
    /* opacity: 0; */
}

.flex {
    display: flex;
}

.chevron {
    transition: all 100ms;
    height: 1.3rem;
}

.ellipses {
    pointer-events: none;
}

.moon_svg, .sun_svg, .ellipses {
    color: var(--svg-color);
    height: 2rem;
}

.moon_svg:hover, .sun_svg:hover {
    color: var(--text-color);
    cursor: pointer;
    transition: all 150ms;
}
