* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    height: 100vh;
    width: 100%;
    background-color: #ECEFF1;
}

.app_container {
    margin: auto;
    width: 960px;
    height: inherit;
    box-shadow: 2px 4px 16px rgb(192, 192, 192);
}


@media (orientation: portrait) {
    .app_container {
        width: 100%;
    }
}

.app, .tasks {
    height: inherit;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    background-color: #eceff1;
    gap: 1rem;
}

.tasks {
    gap:0;
}

.navbar {
    background-color: #fafafa;
    padding: 2rem;
    box-shadow: 0px 0px 25px -15px #333;
}

.lists {
    height: inherit;
    padding: 1rem;
    gap: 1rem;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 33% 33% 33%;
}

.list {
    background-color: #fafafa;
    height: 150px;
    width: 150px;
    grid: 6;
    display: flex;
    flex-flow: column;
    place-content: center;
    place-items: center;
}


.list_name {
    font-size: 2rem;
}

.user {
    display: flex;
    place-items: center;
    font-size: 1.2rem;
    gap: 1rem;
}

.footer {
    text-align: end;
    padding: 2rem;
}

.lists_section_title {
    font-size: 2.5rem;
    margin-left: 1rem;
}


.footer .add_list_button {
    height: 70px;
    width: 70px;
    padding: 1rem;
    background: #7c4dff;
    color: whitesmoke;
    box-shadow: 2px 4px 16px #5635b2;
}

.footer .add_list_button:hover, .list:hover, .task:hover, .back_button:hover {
    background-color: #5635b2;
    color:  whitesmoke;
    cursor: pointer;
    transition: all 150ms;

}


/* fix */
.tasks_header {
    /* margin: auto; */
    /* padding: 4rem; */
    height: 25%;
    text-align: center;
    background-color: #7c4dff;
    color: whitesmoke;
    font-size: 2.5rem;
    display: flex;
    place-content: space-between;
    place-items: center;
}

.tasks_footer {
    width: 100%;
    display: flex;
    flex-flow: column;
    padding: 2rem;
    gap: 1rem;
}

.task_input_container {
    width: 100%;
    display: flex;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.task_input_container input {
    width: inherit;
    border: none;
    background: none;
    font-size: 1.5rem;
}

.task_input_container input:focus {
    outline: none;
}

.add_task_button {
    background: none;
    border: none;
    color: #7c4dff;
    font-size: 1.5rem;
}

.add_task_button:hover {
    color: #5635b2;
    cursor: pointer;
} 

hr {
    color: #7c4dff;
}

.task_icon:hover {
    color: purple;
}
.tasks_container {
    height: inherit;
    display: flex;
    flex-flow: column;
}

.task_icon {
    display: flex;
    place-content: center;
}
.task {
    padding: 2rem;
    font-size: 2rem;
    display: flex;
    place-items: center;
    place-content: space-between;
}

.trash_icon {
    height: 2.5rem;
    transition: all 150ms;
    
}

.trash_icon:hover {
    color: red;
    cursor: pointer;
    /* fill: #333; */
}

.back_button {
    height: 100%;
    display: flex;
    flex-flow: column;
    place-content: center;
}

.back_button svg {
    height: 2.5rem;
}

.circle_container:hover {
    
}

.filler {
    width: 4.5rem;
}

.profile_picture {
    height: 3.5rem;
    color: #7c4dff;
}

.empty_circle, .checked_circle {
    height: 3rem;
    pointer-events: none;
}

.task_name_container {
    display: flex;
    place-items: center;
    gap: 2rem;
}

.item_amount {
    font-size: 1.5rem;
    /* color: gray; */
    font-weight: lighter;
}